body {
    background-color: #3b5998;
}

/*    Positioning CSS    */

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    display: table;
    width: 100%;
    vertical-align: middle;
    margin-top: 3%;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainHeaderContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subtitleTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.buttonContainer {
    display: block;
    text-align: center;
    margin-top: 3%;
}

/*    Text Deco     */

#mainHeader {
    color: white; 
    font-family: Arial; 
    font-weight: 100; 
    font-size: 150px;
}

.subtitle {
    color: lightgrey;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 2%;
}

#emoji {
    font-size: 40px;
    transition: 300ms;
}

#button {
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    transition: 400ms;
}

/*    Animation     */

#emoji:hover {
    transform: scale(1.5) rotate(360deg);
}

#button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
    box-shadow: 1px 10px 80px gold;
    transform: scale(1.3)  translateY(-28px);
}